<%- contentFor('body') %>

    <div class="row">
        <div class="col-auto col-12">
            <% if(alert.message !="" ) { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%= alert.message %>
                </div>
                <% } %>
        </div>
    </div>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">

            <div class="card-header text-center">
                <a href="/" class="h1"><b>Admin</b>WA</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign into WhatsApp</p>

                <form action="/login" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>