<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <h5>
                        <%= title %>
                            <a class="btn btn-info btn-sm float-end mb-4" id="add-user">Add Data</a>
                    </h5>

                    <table class="table table-bordered table-sm" id="data-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0; i < users.length; i++ ) { %>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <%= users[i].username %>
                                    </td>
                                    <td>
                                        <%= users[i].name %>
                                    </td>
                                    <td>
                                        <% if (users[i].isAdmin) { %>
                                            Admin
                                            <% }else{ %>
                                                User
                                                <% } %>
                                    </td>
                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a></td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Data</h5>
            </div>
            <div class="modal-body">
                <form action="/user/add" method="POST" id="add-form">

                    <div class="alert alert-danger hide" id="alert">

                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" />
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-submit">Save Data</button>
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var username = localStorage.getItem('isAdmin');
    if (username == null || username == undefined) {
        window.location = '/login'
    }

    $('#add-user').click(function () {
        $('#addModal').modal('show');
    })

    var frm = $('#add-form')
    $('#add-submit').click(function () {
        frm.submit()
    })

    frm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (data.username != null || data.username != undefined) {
                    window.location = '/user/list'
                } else {
                    var alert = $('#alert')
                    alert.removeClass('hide')
                    alert.text(data.message)
                }
            }
        });
    })
</script>