<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body text-center">
                    <h3>WhatsApp</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-6">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Log WhatsApp</h5>
                    <hr>

                    <div class="card-body">
                        <div class="client-container">
                            <div class="client hide">
                                <img src="" alt=" QR Code" id="qrcode">
                                <ul class="logs"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="client-select" class="form-label">Username</label>
                            <select class="form-select" id="client-select">
                                <option value="">Choose username</option>
                                <%for(var i=0; i<users.length; i++) {%>
                                    <option value="<%= users[i].username %>">
                                        <%= users[i].username %>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="panji@gmail.id"
                                aria-describedby="emailHelp" />
                        </div> -->
                        <button type="button" class="btn btn-info text-white" id="add-client-btn">Connect</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const url = window.location.href;
    const socket = io(`http://103.175.219.176`, {
        path: '/wsapp'
    });
    let username = null

    $('#add-client-btn').click(function () {
        var clientSelect = $('#client-select').val();
        if (clientSelect == '') {
            alert('Please choose username!');
            return;
        }

        username = clientSelect;

        var template = $('.client').first().clone().removeClass('hide').addClass(clientSelect);
        $('.client-container').append(template);

        socket.emit('initClient', {
            username: username
        });
    });

    $(document).ready(function () {
        socket.on('init', function (session) {
            $('.client-container .client').not(':first').remove();
            // console.log(data);

            if (session.username == username) {
                var clientId = session.username;
                var template = $('.client').first().clone().removeClass('hide').addClass(clientId);

                $('.client-container').append(template);

                if (session.ready) {

                    $(`.client.${session.username} .logs`).append($('<li>').text('Whatsapp is Connected!'));
                    $(`.client.${session.username} #qrcode`).hide();
                    $('#add-client-btn').addClass('disabled');
                } else {
                    socket.emit('create-session', {
                        username: username
                    });
                    $(`.client.${session.username} .logs`).append($('<li>').text('Connecting...'));
                }
            }
        });

        socket.on('message', function (data) {
            if (data.username == username) {
                $(`.client.${data.username} .logs`).append($('<li>').text(data.text));
            }
        });

        socket.on('qr', function (data) {
            // console.log(data);
            if (data.username == username) {
                $(`.client.${data.username} #qrcode`).attr('src', data.src);
                $(`.client.${data.username} #qrcode`).show();
            }
        });

        socket.on('ready', function (data) {
            if (data.username == username) {
                $(`.client.${data.username} #qrcode`).hide();
            }
        });

        socket.on('authenticated', function (data) {
            if (data.username == username) {
                $(`.client.${data.username} #qrcode`).hide();
            }
        });

        socket.on('remove-session', function (data) {
            if (data.username == username) {
                username = null;
                $('#add-client-btn').removeClass('disabled');
            }
        });
    });
</script>